<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
    <div class = "main">

      <div class = "main_top">
        <div class = "group_name_block">
          <div class = "group_name">
             hogehoge
          </div>
        </div>
      <div class = "close_botton_block">
        <div class = "close_botton">
           <a href = #>チャットを終了する</a>
        </div>
      </div>
    </div>

    <div class = "main_middle">
      <div class = "post">
        <div class = "user_name_posttime">
           <div class = "user_name">
           ToM
           </div>
           <div class = "post_time">
            2020/03/31(Wed) 12:43:40
           </div>
        </div>
        <div class = "message">
          おはよう
        </div>
      </div>
      <div class = "post">
        <div class = "user_name_posttime">
           <div class = "user_name">
           ToM
           </div>
           <div class = "post_time">
           2020/03/31(Wed) 12:45:00
           </div>
        </div>
        <div class = "message">
          うっせーわ
        </div>
       </div> 
    </div>

    <div class = "main_bottom">
       <div class="form-input">
         <input class="form-message" placeholder= "type a message">
         <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
         </label>
       </div>
         <input class="form-submit" type="submit" value="送信">
    </div>
  </body>
</html>