<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
    <div class = "main">
      <div class = "main_top">
     　  <div class = "group_name">
             hogehoge
         </div>
         <div class = "close_botton">
           <a href = #>チャットを終了する</a>
         </div>
      </div>
    </div>
    <div class = "main_middle">
       bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
    </div>
    <div class = "main_bottom">
     ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
    </div>
  </body>
</html>