<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
    <div class = "side">
     <div class = "side_top">
     ああああああああああああああああああああああああああああああああああああああ
     </div>
     <div class = "side_bottom">
     良い良い良い良い良い良い良い良い良い良い良い良い良い良い良い良い良い良い良い
     </div>
    </div>

  </body>

</html>